<div class="center_form">
  <h1>Redefinir Senha</h1>
  <form action="" method="POST">

    <div class="txt_field reset_pass">
      <input type="text" name="email" value="<%= (locals.email && email != null) ? email : "" %>" required readonly>
    </div>
    <p class="error_msg"><%= (locals.errors && errors.email != null) ? errors.email.msg : "" %></p>

    <div class="txt_field">
      <input type="password" name="password" required>
      <span></span>
      <label>Nova Senha</label>
    </div>

    <div class="txt_field">
      <input type="password" name="confirmPassword" required>
      <span></span>
      <label>Confirmar Nova Senha</label>
    </div>
    <p class="error_msg"><%= (locals.errors && errors.password != null) ? errors.password.msg : "" %></p>
    <p class="error_msg"><%= (locals.errors && errors.confirmPassword != null) ? errors.confirmPassword.msg : "" %></p>

    <button type="submit">Redefinir senha</button>
    <p class="error_msg error_msg_centered"><%= locals.signupMsg && signupMsg %></p>
  </form>
</div>
